a{
    cursor: pointer;
    float: right;
    
}

h5{
    margin-top: 10px;
}

body{
    box-sizing: border-box;
}

.container {
        background-color: rgba(0, 0, 0, 0.05)
    }

.label {
   text-align: center;
   margin-bottom: 10px;
   font-size: 20px;
}

@media (min-width:480px) {
    .container{
        width: 400px;
        margin: 0 auto;
        border-radius: 10px;
    }
    
}   